<!DOCTYPE html>
<html>
<head>
    {% if handler.title == "" %}
    <title>Discovery | Winni App</title>
    {% else %}
    <title>{{ handler.title }}</title>
    {% end if %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta http-equiv="description" content="">
    <meta name="referrer" content="no-referrer">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
    <link rel="shortcut icon" href="/static/favicon.ico?v={{handler.version}}">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/tools.js?v={{handler.version}}"></script>
    <script type="text/javascript" src="/static/js/clipboard.min.js"></script>
    <script type="text/javascript" src="/static/js/video.min.js"></script>
    <script type="text/javascript" src="/static/js/videojs-contrib-hlsjs.min.js"></script>
    <script type="text/javascript" src="/static/js/dist/web3.min.js"></script>
    <script type="text/javascript" src="/static/js/jweixin-1.6.0.js"></script>
    <script type="text/javascript" src="/static/js/jquery.qrcode.min.js"></script>
    <link rel="stylesheet" href="/static/css/video-js.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/page.css?v={{handler.version}}">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/msh_hollow.css?v={{handler.version}}"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/store/hollow.css?v={{handler.version}}">
    <style type="text/css">
        .page_edit_tools{
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .card{
            position: absolute;
            width: fit-content;
        }
        .current_now{
            box-shadow: 0px 0px 0px 2px #03a9f4;
        }
        .dom>div>p{
            min-height: 20px;
        }
        .main_area{
            width: {{ int(handler.main_area.get('w','1024')) }}px;
            height: {{ int(handler.main_area.get('h','0')) }}px;
        }
        .room_connect_num{
            position: relative;
        }
        .span_num_icon{
            position: absolute;
            width: 14px;
            height: 13px;
            background-image: url(/static/img/msh_icon/people.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            right: 40px;
            top: 2px;
        }
    </style>
    <style type="text/css">
        
    </style>
</head>
<body>
    <div class="msh_base_area">
        <div class="msh_search_area">
            <div class="msh_line_row hide">
                <input class="msh_search_input" type="" name="">
            </div>
            <div class="msh_line_col msh_topic_list">
                <div class="msh_line msh_topic_line">
                    <div class="msh_line_card w_82_h_auto" align="center">
                        <div class="msh_c_img_area onlinenum_0">
                            <img class="msh_c_img" src="/static/img/msh_icon/logo.png?t={{handler.version}}">
                        </div>
                        <div class="msh_c_c_plus">
                            <div class="msh_c_c_plus_icon"></div>
                        </div>
                        <div class="msh_c_title">Winni</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="msh_topic_title" style="
                display: flex;
                padding: 0px 15px;
                align-items: center;
            ">
                <div style="background: #3c447b;width: 20px;height: 20px;border-radius: 20px;">
                    <div class="msh_c_c_plus_icon"></div>
                </div>
                <div style="
                    margin-left: 3px;
                    font-size: 20px;
                    font-weight: bold;
                    color: #333;
                ">{{ handler.title }}</div>
            </div>
            <div style="display: flex;padding: 0px 15px;align-items: center;font-size:12px;color:#999;">
                <div class="room_connect_num"><span class="span_num">0</span><div class="span_num_icon"></div><span style="margin-left:20px;">Online</span></div>
            </div>
            <div style="display: flex;padding: 0px 15px;align-items: center;font-size:12px;color:#999;">
                <div>{% raw handler.desc %}</div>
            </div>
        </div>
        <div class="msh_main_area">
        </div>
    </div>
    <div class="msh_menu_area">
        <div class="msh_line_col">
            <div class="msh_line">
                <div class="msh_line_card w_50_h_auto">
                    <div class="msh_area_bottom_btn" align="center" data-action="home">
                        <div class="msh_area_bottom_btn_content">
                            <div class="msh_icon msh_icon_home"></div>
                            <div class="msh_icon_text">Ground</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="msh_line hide">
                <div class="msh_line_card w_50_h_auto show_add_comment_area">发布<br>瞬间</div>
            </div>
            <div class="msh_line">
                <div class="msh_line_card w_50_h_auto">
                    <div class="msh_area_bottom_btn" align="center" data-action="order">
                        <div class="msh_area_bottom_btn_content">
                            <div class="msh_icon msh_icon_order"></div>
                            <div class="msh_icon_text">Order</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="msh_line">
                <div class="msh_line_card w_50_h_auto">
                    <div class="msh_area_bottom_btn btn_current" align="center" data-action="hollow">
                        <div class="msh_area_bottom_btn_content">
                            <div class="msh_icon msh_icon_hollow"></div>
                            <div class="msh_icon_text">Discovery</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="msh_line">
                <div class="msh_line_card w_50_h_auto">
                    <div class="msh_area_bottom_btn" align="center" data-action="person">
                        <div class="msh_area_bottom_btn_content">
                            <div class="msh_icon msh_icon_person"></div>
                            <div class="msh_icon_text">Me</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="msh_card dev_log hide"></div>
    <div class="hide">
        <input id="msh_hollow_img_add_upload" type="file" accept="image/*">
        <input id="msh_hollow_video_add_upload" type="file" accept="video/*">
    </div>
</body>
<script type="text/javascript">
    var HOLLOWS = {% raw handler.hollows %};
    var FINDMASTER_APP = "{{ handler.findmaster_app }}";
    var WEBSOCKET_URL = "{{ handler.websocket_url }}";
    var BLOCK_ID = "{{ handler.block_id }}";
    var USER_ID = "{{ handler.user_id }}";
    var IS_EDITOR = {{ 'true' if handler.user_id in handler.editors else 'false'}};
    var PAGE_TYPE = "msh_hollow";
    var IS_WEIXIN = {{ 'true' if handler.is_weixin else 'false' }};
    {% if handler.is_weixin %}
    var WX_DATA = {% raw handler.wx_data %};
    var WX_APP = "{{ handler.wx_app }}";
    var WX_APPID = '{{ handler.wx_appid }}';
    var WX_TIMESTAMP = parseInt('{{ handler.wx_timestamp }}');
    var WX_NONCESTR = '{{ handler.wx_noncestr }}';
    var WX_SIGNATURE = '{{ handler.wx_signature }}';
    {% else %}
    var WX_DATA = {% raw handler.wx_data %};
    {% end if %}
    var HOST_URL = "{{ handler.host_url }}";

    var CHAT_ID = "{{ handler.chat_id}}";
    var COMMENT_ID= "{{ handler.comment_id}}";
    var COMMENT_SEQUENCE= "{{ handler.comment_sequence}}";
    var REMARK_ID = "{{ handler.remark_id}}";
    var REF_ID = "{{ handler.ref_id}}";
</script>
{% if handler.is_weixin %}
<script type="text/javascript" src="/static/js/weixin.js?v={{handler.version}}"></script>
{% end if %}
<script type="text/javascript" src="/static/js/agora/AgoraRTC_N.js"></script>
<script type="text/javascript" src="/static/js/agora/basicVideoCall.js"></script>
<script type="text/javascript" src="/static/js/page.js?v={{handler.version}}"></script>
<!-- <script type="text/javascript" src="/static/js/msh_hollow.js?v={{handler.version}}"></script>
<script type="text/javascript" src="/static/js/msh_hollow_image.js?v={{handler.version}}"></script>
<script type="text/javascript" src="/static/js/alipay.js?v={{handler.version}}"></script> -->
<script type="text/javascript" src="/static/js/store/hollow.js?v={{handler.version}}"></script>
<script type="text/javascript" src="/static/js/store/add_image.js?v={{handler.version}}"></script>
</html>