<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dev | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0.25, user-scalable=yes" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/tools.js?v={{handler.version}}"></script>
    <script type="text/javascript" src="/static/js/jweixin-1.6.0.js"></script>
    <script type="text/javascript" src="/static/js/jquery.qrcode.min.js"></script>
    <style type="text/css">
        .card_mini{
            margin: 5px;
            padding: 10px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            border-radius: 6px;
        }
    </style>
</head>
<body>
    <div class="tool">
        <div><input class="url" type="" name="" value="" placeholder="API"></div>
        <div><input class="type" type="" name="" value="" placeholder="GET/POST"></div>
        <div><textarea class="json" placeholder="JSON"></textarea></div>
        <div><button class="submit">submit</button></div>
        <div><div class="request"></div></div>
    </div>
    <script type="text/javascript" src="/static/js/dev/dashboard.js?v={{handler.version}}"></script>
</body>
</html>
